*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Roboto", sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.navbar-links{
    display: flex;
    column-gap: 20px;
}

.navbar-links a{
    text-decoration: none;
    color: #1d232c;
}

.navbar-links a:hover{
    text-decoration: underline;

}

.navbar-menu-toggle{
    display: none;
}
.side-navbar{
    background-color: #1d232c;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 60px;
    left: -60%;
    padding: 20px;
    color: white;
    transition: 2s;
}

.side-navbar-link{
    margin-bottom: 30px;

}

.side-navbar-links a{
    text-decoration: none;
    color: white;
}

.side-navbar-links a:hover{
    text-decoration: underline;
}

/*Header*/
.header{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.header-button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: #1d232c;
    color: white;
    cursor: pointer;
}

.service{
    padding: 20px;
}

.service-container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-container-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.service-container-2 div{
    background-color :#f2f4f7;
    border-radius: 5px;
    padding: 10px;
}

.new-arrival{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.new-arrival-container{
    position: relative;
    flex-basis: 20%;
    left: 30px;
}

.new-arrival button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    color: #1d232c;
    position: absolute;
    top: 50%;
    left: 10%;
    border-radius: 10px;
    border: none;
}


.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.news input{
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid black 3px;
    margin-top: 10px;
}

.news button{
    margin-top: 10px;
    color: #f2f4f7;
    background-color: #1d232c;
    border-radius: 10px;
    padding: 10px;
}

.footer{
    margin-top: 20px;
    padding: 40px;
    background-color: #1d232c;
    color: #f2f4f7;
}

.footer p{
    text-align: center;
}

.product-section{
    margin-top: 20px;
}

.product-search{
    width: 80%;
    border: solid black 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.product-search input{
    border: none;
    background-color: transparent;
    width: 100%;
}

.product-search input:focus{
    outline: none;
}

.products{
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;   
}

.products-box{
    text-align: center;
    flex-basis: 20%;
}

.products-box img{
    border-radius: 10px;
}

 .contact-container {
            background: #8ec2e9;
            width: 100%;
            max-width: 800px;

            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
            
            margin: 50px auto;
        }

        .contact-container h2 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
            color: #555;
        }

        .form-group input,
        .form-group textarea {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            outline: none;
        }

        .form-group textarea {
            resize: none;
            height: 120px;
        }

        .form-group input:focus,
        .form-group textarea:focus {
            border-color: #007bff;
        }

        .btn {
            width: 100%;
            padding: 12px;
            border: none;
            background: #007bff;
            color: #fff;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.3s;
        }

        .btn:hover {
            background: #0056b3;
        }

        .contact-info {
            text-align: center;
            margin-top: 20px;
            color: #666;
            font-size: 14px;
        }

        .pay-container {
            max-width: 800px;
            background: #f5e2e2;
            padding: 25px;
            border-radius: 8px;
            margin: auto;
        }

        h2 {
            margin-bottom: 15px;
            text-align: center;
        }

        /* Delivery Options */
        .option-row {
            display: flex;
            gap: 15px;
            margin-bottom: 20px;
            
        }

        .option {
            flex: 1;
            border: 2px solid #ffffff;
            border-radius: 6px;
            padding: 20px;
            cursor: pointer;
            display: flex;
            gap: 10px;
            width: 20%;
            
        }

        .option-row p{
            text-align: center;
            color: rgb(0, 77, 18);
        }

        .option.active {
             border-color: #17191f;
        }

        .option input {
            margin-top: 5px;
        }

        /* Form Grid */
        .form-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        margin-bottom: 25px;
        }

        label {
        font-size: 13px;
        margin-bottom: 5px;
        display: block;
        }

        input, select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        }

/* Media Qurey*/

@media screen and (max-width:700px) {
    .navbar-menu-toggle{
    display: block;
    }

    .navbar-links{
        display: none;
    }

    .header-image{
        display: none;
    }
    
    .service-container-1{
        display: none;
    }
    .service-container-2{
        flex-direction: column;
    }

}
